<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#f54748" />
    <meta name="description" content="Bring back your mood">
    <title>FoodMood - Bring back your mood</title>
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icon/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preload" crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style"
      onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      as="style" onload="this.onload=null;this.rel='stylesheet'" />
  </head>

  <body>
    <div class="wrapper">
      <a href="#content" class="skip-link" tabindex="0">Menuju ke konten</a>
      <div id="container">
        <header>
          <app-bar></app-bar>
        </header>
      </div>
      <mobile-navigation class="mobile-navigation" id="mobile-navigation">
      </mobile-navigation>
      <hero-custom class="hero"></hero-custom>
      <main>
        <section class="content" id="content">
        </section>
      </main>
      <my-footer></my-footer>
    </div>

  </body>


</html>